.projects-all-component {
}

.projects-all-component > ul > li {
    text-align: left;
}

.add-member-container {
    float:left;
    width:50%;
}

.list-align-left {
   text-align: left;
}

.button-member{
    z-index: 9999;
    float:left;
    left:0px;
    top:100px;
    width:330px;
    border-radius: 0;
    margin-top: 50px;
    margin-bottom: 30px;
}

.button-member > button{
    width: 285px;
}

.projects-all-component .team-member-container {
    width: 338px;
    top: -30px;
}

.list-align-left input {
    width:100%;
}

.projects-container {
    width: 100%;
    float: right;
    margin-top: 140px;
}

.projects-all-component .projects-header {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0px;
    background-color:#cdcdcd;
    text-align: left;
}

.projects-all-component .projects-content {
    margin-top:100px;
}

.projects-all-component .project-search-container {
    margin: 0 0 0 100px;
    background-color: #fdfdfd;
    width: calc(100% - 390px);
    height: 80px;
    display: inline-block;
}

.projects-all-component .input_search-project {
    width:100%;
    height:80px;
    border:0px;
    padding:20px;
    font-size:19px;
    color:#aaa;
    background-color: #eee;
}

.projects-all-component .input_search-project:focus {
    outline: none;
}

.input_head-project-btn {
    border-left: 1px solid #888;
    border-right: 0px solid #888;
    border-top: 0px;
    border-bottom: 0px;
    height: 80px;
    padding: 20px;
    background-color: #cdcdcd;
}

.input_head-project-btn:focus {
    outline: none;
}

.project-button-container {
    float:right;
    width: 290px;
}
