/*.footer-container {*/
    /*position:absolute;*/
    /*left:0;*/
    /*bottom:0;*/
    /*width:100%;*/
    /*height:60px;*/
    /*border-top:1px solid #ddd;*/
/*}*/
.copyright {
    width: 250px;
    padding: 20px 50px;
    margin: 0 auto;
    color: #888;  }