/*Header*/
.App-logo {
  animation: App-logo-spin infinite 100s linear;
  height: 50px;
  margin-top:-10px;
  margin-left: 5px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header-container {
  background-color:#444;
  position:fixed;
  width:100px;
  height:100%;
  top:0px;
  z-index: 100;
}

.App-header {
  color: white;
  margin: 10px auto;
}

.App-header > .link-container {
  display: block;
  position: relative;
  margin: 10px;
  margin-top: 2.2vh;
}

.App-header > .link-container:first-child {
  margin-top:20px;
}
.App-header > .link-container:last-child {
  margin-top:170px;
}

.App-header > .link-container > a{
  text-decoration: none;
  color:#fff;
  display: block;
  text-align: center;
}

.App-header > div.sign-container {
  float:right;
}
.sign-container > a {
 margin: 10px 5px;
}


