body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* высота веб-страницы больше или равна высоте окна браузера */
  margin: 0;
}
.btn {
  display:inline-block;
  background-image: linear-gradient(#fcfcfc, #eee);
  border:1px solid #d5d5d5;
  border-radius:3px;
  padding: 6px 20px;
  color: #444;
  font-size:14px;
  text-decoration: none;
}
.main-btn {
    background-image: linear-gradient(#91dd70, #55ae2e);
    border: 1px solid #5aad35;
    color: #fcfcfc;
    cursor:pointer;

}
.main-btn:hover {
    color:#fff;
    background-image: linear-gradient(#55ae2e, #91dd70);
}
.form-input {
    background-image:linear-gradient(#fcfcfc, #fff);
    cursor:auto;
}

#root {
  text-align: center;
  margin: 0px 0px 0px 100px;
  width: calc(100% - 100px);
  min-height:100%;
  flex: 1;
}

.valid-component img {
    width: 400px;
}

.panel-title a {
    cursor: pointer;
}

.panel-custom {
    border-color: #fff;
    border:0px;
    width: 400px!important;
    margin-left: 70px;
    -webkit-box-shadow: none;
    box-shadow: none;
    top: -50px;
    position:absolute
}

.bottom-line {
    border-bottom:1px solid #aaa;
    width:100%;
    display:block;
}

.project-date{
    width:30%;
    margin: 10px 10px;
}

.link-dropdown {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
}