.project-list-item {
    width:100%;
    margin-top:2px;
}

.project-container {
    width: 100%;
    float: right;
    margin-top: 40px;
}

.project-container .text-comment{
    width:100%;
    height:35px;
    border-radius:5px;
    border:0;
    resize:none;
}

.project-container .add-contract-form > input, .project-container .add-task-form > input {
    width:100%;
}

#add-contract {
    width:100%;
}

.project-info-container {
    background-color:#efefef;
    padding:20px;
    text-align: left;
}

.project-container .table-responsive .form-input {
    max-width:100px;
    padding: 6px 10px;
}

.project-container .table-responsive .mini-form-input {
    max-width:50px;
    padding: 6px 10px;
}

.table-responsive {
    overflow-x: visible;
}

.contract-sub-header {
    display: block;
    float: left;
}

.result-row-contract {
    font-weight: 800;
}

.result-col-contract {
    font-size: 16px;
}

.result-profit-contract {
    font-size:16px;
    font-weight: 700;
    display: block;
    text-align: right;
}
