/*.right-form {*/
  /*float:right;*/
  /*width:400px;*/
  /*margin:30px;*/
/*}*/

/*.left-form {*/
  /*float:left;*/
  /*width:400px;*/
  /*margin:30px;*/
/*}*/

.right-form > form > input,.left-form > form > input {
  width:100%;
  display:block;
  margin: 15px;
}

.right-form > form > input[type="text"],
.left-form > form > input[type="text"] {
    cursor:auto;
}

.right-form > form > input[type="submit"] {
  padding:7px;
  cursor:pointer;
}

.welcome-name {
  color:#444444;
  font-size: 30px;
  margin-left:0px;
}
.err-alert{
  background-color: darkgray;
  border: 1px solid #666;
  border-radius: 4px;
  padding: 7px;
  margin-left: 15px;
  width: 100%;
  color: #711b1b;
}