.btn-members {
    margin-left:-50px;
}

.panel-body > .team-detail-container {
    width:100%;
    background-color: #fbfbfb;
    border: 1px solid #efefef;
}

.list-team-container {

}

.team-add-container {

}

#add-team {
    width:130px;
    padding: 6px 15px;
}
.temp-team-name {
    position:absolute;
    top: 1px;
    left: 70px;
    border:2px solid #fff;
    height:20px;
    display:none;
}
.update-team-input {
    border:0;
    resize: none;
    height: 23px;
    margin-left:5px;
}
.update-team-input::-webkit-input-placeholder {
    color:#222;
}
.update-team-input::-moz-placeholder {
    color:#222;
}

.update-team-input:-moz-placeholder {
    color:#222;
}
